.autoCompleteInput {
    font: 200 20px/1.5 Helvetica, Verdana, sans-serif;
    border-bottom: 1px solid #ccc;
    border-radius: 5px;
    max-width: 200px;
  }
  
  ul.suggestAutocomplete { 
    position: absolute; /* относительно чего позиционирование? */
    background: rgb(195, 195, 195);
    display: block;
    opacity: 1;
    list-style-type: none;
    margin-top: 30px;
    margin-bottom: 1 em; 
    margin-left: 0;
    margin-right: 0;
    padding-left: 0px; 
    top: 10px; 
  }
  
   
  .suggestAutocomplete > li {
    font: 200 20px/1.5 Helvetica, Verdana, sans-serif; 
    border-bottom: 1px solid #ccc;
  }
   
  .suggestAutocomplete > li:last-child {
    border: none;
  }
   
  .suggestAutocomplete > li {
    text-decoration: none;
    color: #000;
    display: block;
    width: 200px;
    transition: font-size 0.3s ease, background-color 0.3s ease;
  }
   
  .suggestAutocomplete > li:hover {
    font-size: 30px;
    background: #FFF7AA;
  }
  